<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :age %>
      <%= f.number_field :age %>

      <%= f.label :lookingfor, "I'm looking for" %>
      <%= f.select :lookingfor, ["A fling", "A hook-up", "Soulmate", "Friendship", "Partner in Crime", "Wingman", "Galpal", "Frenemy", "Old-fashioned date", "Someone my parents will like"] %>

      <%=f.label :genderpref, "I'm romantically interested in" %>
      <%= f.select :genderpref, ["Female", "Male", "Both", "Something else", " It varies"] %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "custom-button-big button-custom btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>